vti_encoding:SR|utf8-nl
vti_author:SR|Tushar-PC\\Tushar
vti_modifiedby:SR|Tushar-PC\\Tushar
vti_timelastmodified:TR|29 Apr 2011 02:03:42 -0000
vti_timecreated:TR|02 Apr 2011 04:07:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|alumni/bcs/2008/bcs_2008.htm alumni/bca/2010/bca_2010.htm alumni/bcs/2009/bcs_2009.htm alumni/bcs/2010/bcs_2010.htm current/part1/bcabcs_part_1.htm faculty/computer_center/faculty_of_computer_center.htm current/part2/bcabcs_part_2.htm current/part3/bcabcs_part_3.htm courses/courses_offered.htm courses/session2/bcs_courses_session_2.htm courses/session1/bca_courses_session_1.htm template/template.dwt default.htm alumni/bca/2008/bca_2008.htm facility/facility.htm contact/submission_successful.htm courses/session1/bcs_courses_session_1.htm courses/session3/bca_courses_session_3.htm faculty/computer_science/faculty_of_computer_science.htm about/about.htm alumni/bca/2009/bca_2009.htm contact/contact_us.htm courses/session2/bca_courses_session_2.htm courses/session3/bcs_courses_session_3.htm
vti_nexttolasttimemodified:TW|29 Apr 2011 02:01:12 -0000
vti_cacheddtm:TX|29 Apr 2011 02:03:42 -0000
vti_filesize:IR|3585
vti_cachedlinkinfo:VX|S|images/back.gif S|images/header.gif S|images/nav.gif S|images/nav.gif
vti_cachedsvcrellinks:VX|FSUS|template/images/back.gif FSUS|template/images/header.gif FSUS|template/images/nav.gif FSUS|template/images/nav.gif
